.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-primary);
    padding-right: var(--jb-spacing-sm);
    padding-bottom: var(--jb-spacing-sm);
    box-sizing: border-box;
}
